<div class="container">
    <div class="row justify-content-center">
        <div class="col col-md-6">
            <div class="card">
                <div class="card-body">
                    <form class="text-center">
                        <div class="form-group">
                            <input type="text" class="form-control" id="inputUsername" placeholder="Enter username">                            
                        </div>
                        <button type="submit" class="btn btn-primary" id="btnSignIn">Sign In</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>