<div id="loginContainer" class="container">
    <div class="row h-100">
        <div class="col my-auto">
            <div class="row">
                <div class="col">
                    <h1 id="welcomeTitle" class="display-4 text-center mb-0">My<strong>Workouts</strong></h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col col-md-6">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="inputUsername" placeholder="Username">                            
                        </div>
                        <button type="submit" class="col btn btn-primary" id="btnLogin">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>