<div id="login">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h1>Welcome to the Lift App</h1>
                <h3>Please log in with your username</h3>
                <form class="clearfix mb-4" action="POST">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" class="form-control" aria-describedby="username" placeholder="Enter Username">
                    </div>
                    <button id="submit" class="btn btn-primary float-right">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>