.list-group-item {
  line-height: 2.5;
}

#welcomeTitle {
  font-size: 3rem;
  line-height: 12rem;
}

@media screen and (min-width: 992px) {
  #welcomeTitle {
    font-size: 4rem;
  }
}

#loginContainer {
  height: 100vh;
}

#btnLogin {
  margin-bottom: 12rem;
}

.current-user {
  text-align: right;
}

.card {
  background-color: #4d4d4d;
  color: #ffcc00;
  font-family: 'Josefin Sans', sans-serif;
}

.modal {
  color: #ffcc00;
  font-family: 'Josefin Sans', sans-serif;
}

.modal-content {
  background-color: #4d4d4d;
}
