.list-group-item {
  line-height: 2.5;
}

.current-user {
  text-align: right;
}

.card {
  background-color:#858282;
  color: #ffcc00;
  font-family: 'Josefin Sans', sans-serif;
}

.modal {
  color: #ffcc00;
  font-family: 'Josefin Sans', sans-serif;
}

.modal-content {
  background-color:#858282
}

#logotext {
  text-align: left;
  font-size: 80px;
}
