.list-group-item {
  line-height: 2.5;
}

.current-user {
  text-align: right;
}

.card {
  background-color: #4d4d4d;
  color: #ffcc00;
  font-family: 'Josefin Sans', sans-serif;
}

.modal {
  color: #ffcc00;
  font-family: 'Josefin Sans', sans-serif;
}

.modal-content {
  background-color: #4d4d4d;
}

#imgrow {
  text-align: right;
}

#logotext {
  text-align: center;
  font-size: 54
}
